<link href="/index.css" type="text/css" rel="stylesheet" />
<a href="/home">Leaderboard</a>
<a href="/puzzle">Puzzle</a>

<% if (!user) { %>
<h2>Welcome! Please log in. <a href="/auth/github">Login with GitHub</a></h2>
<% } else { %>
<h2>Hello, <%= user.displayName %>.</h2>
<a href="/logout">Log Out</a>
<% } %>
